<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

</head>
<body>
	<div data-role="page" style="background-color: rgb(255, 130, 125)" id="pageone">
	<h1 style="text-align: center;">My Book Store</h1>
		<div style="position: relative; top:30px; left:5%;">
			<a href="/jade/page1.html"> 
				<img style="width: 150px; height:150px;" src="/jade/img/jade0.jpeg"> 
			</a>
		<div>
	</div>
</body>